@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
} 
body {
    background-image: linear-gradient(to right, #BF8A49, #D9BFA0 );
}
main {
    background-color: white;
    width: 600px ;
    box-shadow:5px 5px 15px #2a261c;
    padding: 10px ;
    margin: auto;  
}
h1 {
    color: #403B33;
    text-align: center;
    text-shadow: 2px 2px 3px #0D0D0D;
}
h2 {
    color: #403B33;
}
p {
    text-align: justify;
}
