@charset "UTF-8";
        body{
            background-color: rgb(186, 168, 202);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        
        }
        h1 {
            color: rgb(247, 247, 247);
        }
        h2 {
            color: aqua;
        }

        p {
            text-align: justify;
        }
    